dj-database-url==2.2.0
Django==4.2.16
django-heroku==0.3.1
dnspython==2.4.2
docstring-parser==0.15
dulwich==0.21.7
emoji==2.0.0
exceptiongroup==1.1.3
exchangelib==5.1.0
exrex==0.11.0
fastjsonschema==2.19.1
filelock==3.13.1
fire==0.4.0
flake8==7.0.0
fp-NGFW-SMC-python==1.0.25
frozenlist==1.4.0
git-filter-repo==2.38.0
gTTS==2.5.1
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hexdump==3.3
hpack==4.0.0
httpcore==0.18.0
httpx==0.25.0
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
isodate==0.6.1
jaraco.classes==3.3.0
jmespath==1.0.1
jsonpickle==3.0.2
keyring==24.3.0
lazy-import==0.2.2
lxml==4.9.4
lz4==4.3.2
mccabe==0.7.0
microsoft-kiota-abstractions==1.0.0
microsoft-kiota-authentication-azure==1.0.0
microsoft-kiota-http==1.0.0
microsoft-kiota-serialization-json==1.0.0
microsoft-kiota-serialization-text==1.0.0
more-itertools==10.2.0
msal==1.24.1
msal-extensions==1.0.0
msgpack==1.0.4
msgraph-core==1.0.0a4
msgraph-sdk==1.0.0
multidict==6.0.4
oauthlib==3.2.2
opentelemetry-api==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
packaging==23.2
parsel==1.8.1
passlib==1.7.4
pexpect==4.9.0
pillow==10.4.0
pipenv==2024.1.0
pkginfo==1.9.6
platformdirs==3.11.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
portalocker==2.8.2
pretty-errors==1.2.25
prompt-toolkit==3.0.43
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycipher==0.5.2
pycodestyle==2.11.1
pycparser==2.21
pycryptodome==3.20.0
pydash==7.0.6
pyflakes==3.2.0
Pygments==2.17.2
pylibmagic==0.5.0
pyOpenSSL==23.2.0
pyperclip==1.8.2
pyproject_hooks==1.0.0
pyspnego==0.10.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
pytz==2024.1
pytzdata==2020.1
PyYAML==6.0.1
qrcode==8.0
rapidfuzz==3.6.1
regex==2023.12.25
requests==2.31.0
requests-ntlm==1.2.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
sqlparse==0.5.1
std-uritemplate==0.0.46
stripe==8.7.0
termcolor==2.4.0
tomlkit==0.12.3
trove-classifiers==2024.1.8
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.0.7
virtualenv==20.25.0
w3lib==2.1.2
wcwidth==0.2.13
whitenoise==6.7.0
wrapt==1.15.0
xattr==0.10.1
xmltodict==0.13.0
yarl==1.9.2
zipp==3.17.0
django-storages
django-jazzmin
