{% extends "base.html" %}
{% load static %}
{% block content %}


<ul class="product-list">
  {% for subsubsubcategory in subsubsubcategories %}
    <li class="product-card"
        data-img="{% if subsubsubcategory.image and subsubsubcategory.image.name %}{{ subsubsubcategory.image.url }}{% endif %}"
        data-name="{% if lang == 'en' %}{{ subsubsubcategory.name_en|default:subsubsubcategory.name }}{% else %}{{ subsubsubcategory.name }}{% endif %}"
        data-desc="{% if lang == 'en' %}{{ subsubsubcategory.description_en|default:subsubsubcategory.description }}{% else %}{{ subsubsubcategory.description }}{% endif %}"
        data-price="{{ subsubsubcategory.price }} ₺">

      <div
        class="product-card-image"
        style="{% if subsubsubcategory.image and subsubsubcategory.image.name %}background-image:url('{{ subsubsubcategory.image.url }}');{% endif %}"
      ></div>

      <div class="product-card-body">
        <div>
          <div class="product-card-name">
            {% if lang == "en" %}
              {{ subsubsubcategory.name_en|default:subsubsubcategory.name }}
            {% else %}
              {{ subsubsubcategory.name }}
            {% endif %}
          </div>
          {% if subsubsubcategory.description %}
          <div class="product-card-desc">
            {% if lang == "en" %}
              {{ subsubsubcategory.description_en|default:subsubsubcategory.description }}
            {% else %}
              {{ subsubsubcategory.description }}
            {% endif %}
          </div>
          {% endif %}
        </div>

        <div class="product-card-footer">
          <div class="product-card-price">
            {{ subsubsubcategory.price }} <span>₺</span>
          </div>
        </div>
      </div>

    </li>
  {% endfor %}
</ul>

{% endblock %}

